/* General Styles */
* {
  box-sizing: border-box;
  transition: 0.35s ease;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  background: url('http://kingofwallpapers.com/leaves/leaves-016.jpg') right no-repeat;
  background-size: cover;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.92);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 40px;
  color: black;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 28px;
  color: black;
}

p.light {
  color: #777;
}

.caps {
  text-transform: uppercase;
}

.justified {
  text-align: justify;
}

/* Layout Styles */
.rela-block {
  display: block;
  position: relative;
  margin: auto;
}

.rela-inline {
  display: inline-block;
  position: relative;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 88%;
}

/* Page Layout */
.page {
  width: 90%;
  max-width: 1200px;
  margin: 80px auto;
  background-color: white;
  box-shadow: 6px 10px 28px 0px rgba(0, 0, 0, 0.4);
}

.top-bar {
  height: 220px;
  background-color: #848484;
  color: white;
}

.name {
  position: relative;
  top: 30%;
  height: 120px;
  width: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 6px;
  color: white;
}

.side-bar {
  position: absolute;
  top: 220px;
  left: 5%;
  width: 350px;
  background-color: #F7E0C1;
  padding: 320px 30px 50px;
  height: calc(100% - 220px);
}

.mugshot {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 250px;
  width: 250px;
}

.mugshot img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.social {
  margin-bottom: 20px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #0000EE;
}


.side-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 28px;
  margin: 60px auto 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #888;
}

.list-thing {
  padding-left: 25px;
  margin-bottom: 10px;
}

/* Content Container */
.content-container {
  margin-right: 0;
  width: calc(95% - 350px);
  padding: 25px 40px 50px;
}

.content-container > * {
  margin: 0 auto 25px;
}

.content-container > h3 {
  margin: 0 auto 5px;
}

.content-container p.long-margin {
  margin: 0 auto 50px;
}

.title {
  width: 80%;
  text-align: center;
}

.separator {
  width: 240px;
  height: 2px;
  background-color: #999;
}

.greyed {
  background-color: #DDD;
  width: 100%;
  max-width: 580px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 28px;
}

/* Responsive Styles */
@media screen and (max-width: 1150px) {
  .name {
    font-size: 38px;
    letter-spacing: 6px;
    line-height: 48px;
  }
}
